<section>
  <h1>FEED</h1>
<!-- Feedsky FEED发布代码开始 -->
<!-- FEED自动发现标记开始 -->
<div style="text-align: center;">
<link title="RSS 2.0" type="application/rss+xml" href="http://feed.feedsky.com/SinosmondsBlog" rel="alternate" />
<!-- FEED自动发现标记结束 -->
<a target="_blank" href="http://feed.feedsky.com/SinosmondsBlog"><img border="0" src="http://img.feedsky.com/images/icon_sub_c1s12.gif" alt="feedsky" vspace="2"  style="margin-bottom:3px" ></a><br />
<a target="_blank" href="http://www.zhuaxia.com/add_channel.php?url=http://feed.feedsky.com/SinosmondsBlog"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_zhuaxia.gif" alt="&#25235;&#34430;" vspace="2" style="margin-bottom:3px" ></a>
<a target="_blank" href="http://fusion.google.com/add?feedurl=http://feed.feedsky.com/SinosmondsBlog"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_google.gif" alt="google reader" vspace="2" style="margin-bottom:3px" ></a><br />
<a target="_blank" href="http://add.my.yahoo.com/rss?url=http://feed.feedsky.com/SinosmondsBlog"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_yahoo.gif" alt="my yahoo" vspace="2" style="margin-bottom:3px" ></a>
<a target="_blank" href="http://www.xianguo.com/subscribe.php?url=http://feed.feedsky.com/SinosmondsBlog"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_xianguo.gif" alt="&#40092;&#26524;" vspace="2" style="margin-bottom:3px" ></a><br />
<a target="_blank" href="http://inezha.com/add?url=http://feed.feedsky.com/SinosmondsBlog"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_nazha.gif" alt="&#21738;&#21522;" vspace="2" style="margin-bottom:3px" ></a>
<a target="_blank" href="http://mail.qq.com/cgi-bin/feed?u=http://feed.feedsky.com/SinosmondsBlog"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_qq.gif" alt="QQ&#37038;&#31665;" vspace="2" style="margin-bottom:3px" ></a><br />
<!-- Feedsky FEED发布代码结束 -->
</div>
</section>
