<section>
  <h1>Octopress Blogroll</h1>
  <ul  style="padding-left:0">
	<li><a target="_blank" href="http://www.worldhello.net/">蒋鑫</a></li>
	<li><a target="_blank" href="http://blog.xupeng.me/">XuPeng</a></li>
	<li><a target="_blank" href="http://adam8157.info/">Adam</a></li>
	<li><a target="_blank" href="http://roylez.heroku.com/">Roylez</a></li>
	<li><a target="_blank" href="http://blog.xdite.net/">xdite</a></li>
	<li><a target="_blank" href="http://blog.devtang.com/">唐巧</a></li>
	<li><a target="_blank" href="http://yihui.name/cn">谢益辉</a></li>
	<li><a target="_blank" href="http://chen.yanping.me/cn">雁起平沙</a></li>
	<li><a target="_blank" href="http://www.yangzhiping.com/">阳志平</a></li>
	<li><a target="_blank" href="http://taiyun.cos.name">魏太云</a></li>
  </ul>
</section>
