<!-- JiaThis Button BEGIN -->
<div id="ckepop">
	<span class="jiathis_txt">分享到：</span>
	<a class="jiathis_button_qzone">QQ空间</a>
	<a class="jiathis_button_tsina">新浪微博</a>
	<a class="jiathis_button_tqq">腾讯微博</a>
	<a class="jiathis_button_renren">人人网</a>
	<a class="jiathis_button_msn">MSN</a>
	<a class="jiathis_button_delicious">Delicious</a>
	<a href="http://www.jiathis.com/share?uid=1587493" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
	<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
<script type="text/javascript" src="http://v2.jiathis.com/code/jia.js?uid=1587493" charset="utf-8"></script>
<!-- JiaThis Button END -->
<br />

<!-- UY BEGIN -->
<!-- <div id="uyan_frame"></div> -->
<!-- <script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1587493" async=""></script> -->
<!-- UY END -->