
<style type="text/css">
<!--
	.head_flash
	{
		display:block;
		float:left;
		margin-left:10px;
		margin-right:10px;
	}
	.head_right
	{
		display:block;
		float:left;
		margin-right:30px;
	}
--> 
</style>
<div class="head_flash">
<a target="_blank" href="http://yuncoffee.com/"><img class="right" src="/images/coffee.gif" title="云咖啡50元券 手机二维码" ></a>
</div>
<!-- <div class="head_right">
<embed width="150" height="120" wmode="transparent" src="/images/Clock.swf">
</div>-->

<hgroup>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>
